{% if form is defined %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <link href="http://cdn.webworks-nuernberg.de/bootstrap/css/3.3.7" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('bundles/flowfusionblog/css/admin.css') }}"/>
    <title>Admin - Blog</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('flow_fusion_blog_admin_post_index') }}">FlowFusion Blog Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><strong>{{ app.user.username }}</strong></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                {% endif %}
                <li><a href="{{ path('flow_fusion_blog_index') }}" target="_blank">Blog</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {% block ff_admin_sidebar %}{% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block ff_admin_content %}{% endblock %}
        </div>
    </div>
</div>

{% block javascript %}
    <script type="text/javascript" src="http://cdn.webworks-nuernberg.de/jquery/js/1.12.4"></script>
    <script type="text/javascript" src="http://cdn.webworks-nuernberg.de/bootstrap/js/3.3.7"></script>
{% endblock %}

</body>
</html>
