{% form_theme form 'bootstrap_3_layout.html.twig' %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="http://cdn.webworks-nuernberg.de/bootstrap/css/3.3.7" rel="stylesheet" />
    <title>Admin - Blog</title>
</head>
<body>

<div class="container">
    <div class="header">
        <div class="user">
            {% if app.user %}
                <strong>{{ app.user.username }}</strong> |
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Login</a>
            {% endif %}
            | <a href="{{ path('flow_fusion_blog_index') }}" target="_blank">Blog</a>
        </div>
        <h3>Blog-Administration</h3>
    </div>
    <div>
        <div class="sidebar">
            {% block ff_admin_sidebar %}{% endblock %}
        </div>
        <div class="content">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block ff_admin_content %}{% endblock %}
        </div>
    </div>
</div>

{% block javascript %}
    <script type="text/javascript" src="http://cdn.webworks-nuernberg.de/jquery/js/1.12.4"></script>
    <script type="text/javascript" src="http://cdn.webworks-nuernberg.de/bootstrap/js/3.3.7"></script>
{% endblock %}

</body>
</html>
