{% extends '@FlowFusionBlog/admin_layout.html.twig' %}

{% block ff_admin_sidebar %}
    {{ include('@FlowFusionBlog/Admin/sidebar.html.twig') }}
{% endblock %}

{% block ff_admin_content %}
    <div class="pull-right">
        <a href="{{ path('flow_fusion_blog_admin_category_new') }}" class="btn btn-success">New</a>
    </div>
    <h1>Category overview <small><code>{{ paginatedPosts.getTotalItemCount }}</code></small></h1>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(paginatedPosts, '#', 'c.id') }}</th>
                <th>{{ knp_pagination_sortable(paginatedPosts, 'Status', 'c.status') }}</th>
                <th>{{ knp_pagination_sortable(paginatedPosts, 'Name', 'c.title') }}</th>
                <th>{{ knp_pagination_sortable(paginatedPosts, 'Created at', 'c.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(paginatedPosts, 'by', 'u.username') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for category in paginatedPosts %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.status|post_status }}</td>
                    <td><strong>{{ category.title }}</strong></td>
                    <td>{{ category.createdAt|date('d.m.Y - H:i') }}</td>
                    <td>{{ category.createdBy.username }}</td>
                    <td>
                        <a href="{{ path('flow_fusion_blog_category_index', {'slug': category.title|slugify, 'id': category.id}) }}" target="_blank" class="btn btn-default btn-sm">show</a>
                        <a href="{{ path('flow_fusion_blog_admin_category_edit', {'id': category.id}) }}" class="btn btn-primary btn-sm">edit</a>
                        <a href="{{ path('flow_fusion_blog_admin_category_delete', {'id': category.id}) }}" class="btn btn-danger btn-sm">trash</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(paginatedPosts) }}
    </div>
{% endblock %}
