{{ form_start(form) }}

{{ form_rest(form) }}

<button type="submit" class="btn btn-success btn-sm">{{ 'backend.buttons.save'|trans }}</button>
<a href="{{ path('flow_fusion_blog_admin_tag_index') }}" class="btn btn-link btn-sm">{{ 'backend.buttons.cancel'|trans }}</a>

{{ form_end(form) }}
