{% extends '@FlowFusionBlog/admin_layout.html.twig' %}

{% block ff_admin_sidebar %}
    {{ include('@FlowFusionBlog/Admin/sidebar.html.twig') }}
{% endblock %}

{% block ff_admin_content %}
    <div class="pull-right">
        <a href="{{ path('flow_fusion_blog_admin_tag_new') }}" class="btn btn-success">{{ 'backend.buttons.new'|trans }}</a>
    </div>
    <h1>{{ 'backend.tag.index.headline'|trans }} <small><code>{{ tags.getTotalItemCount }}</code></small></h1>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(tags, '#', 't.id') }}</th>
                <th>{{ knp_pagination_sortable(tags, 'Status', 't.status') }}</th>
                <th>{{ knp_pagination_sortable(tags, 'Name', 't.title') }}</th>
                <th>{{ knp_pagination_sortable(tags, 'Created at', 't.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(tags, 'by', 'u.username') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.id }}</td>
                    <td>{{ tag.status|post_status }}</td>
                    <td><strong>{{ tag.title }}</strong></td>
                    <td>{{ tag.createdAt|date('d.m.Y - H:i') }}</td>
                    <td>{{ tag.createdBy.username }}</td>
                    <td>
                        <a href="{{ path('flow_fusion_blog_admin_tag_edit', {'id': tag.id}) }}" class="btn btn-primary btn-sm">{{ 'backend.buttons.edit'|trans }}</a>
                        <a href="{{ path('flow_fusion_blog_admin_tag_delete', {'id': tag.id}) }}" class="btn btn-danger btn-sm">{{ 'backend.buttons.trash'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(tags) }}
    </div>
{% endblock %}
