{% extends "@FlowFusionBlog/layout.html.twig" %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block ff_blog_content %}
    <article class="blog-post post-{{ post.id }}">
        <h2 class="blog-post-title">{{ post.title }}</h2>
        <div class="blog-post-meta">
            {{ include('@FlowFusionBlog/View/post_meta.html.twig') }}
        </div>
        <div class="post-content">
            {{ post.content|raw }}
        </div>
    </div>
{% endblock ff_blog_content %}
